@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Gilda+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .spinner::-webkit-inner-spin-button,
    .spinner::-webkit-outer-spin-button {
        opacity: 1; 
        display: block; 
        background-color: transparent;
    }
}


:root {
    --primary : #6B4927;
    --secondary : #F8EDE3;
    --tertiary : #F8DE88;
    --quaternary : #E6D2C6;
}


body {
    color: var(--primary);
    font-family: "Gilda Display", Helvetica, sans-serif;
    font-size : 5vw; 
}


@media screen and (min-width : 1024px) {

    body{
        font-size : 1vw;
    }
}
