@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Gilda+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;





:root {
  --primary : #6B4927;
  --secondary : #F8EDE3;
  --tertiary : #F8DE88;
  --quaternary : #E6D2C6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Gilda Display", Helvetica, sans-serif;
}
