@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .spinner::-webkit-inner-spin-button,
    .spinner::-webkit-outer-spin-button {
        opacity: 1; 
        display: block; 
        background-color: transparent;
    }
}


:root {
    --primary : #6B4927;
    --secondary : #F8EDE3;
    --tertiary : #F8DE88;
    --quaternary : #E6D2C6;
    --blue : #CDDCDC;
    --primary-opacity : #6b492727;
}


body {
    color: var(--primary);
    font-size : 5vw; 
}

body::-webkit-scrollbar {
    width: .5vw;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--primary);
    border-radius: 10px;
}


body::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
    margin: 5px;
}


*::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}

*::-webkit-scrollbar {
    width: .3vw;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--primary);
    border-radius: 10px;
}


*::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
    margin: 5px;
}


*::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}


@media screen and (min-width : 1024px) {

    body{
        font-size : 1vw;
    }
}
