//@import "../../styles/globals.scss";

.success{
    display : flex;
    width : 100%;
    height : 100vh;
    background-color: $secondary;

   

    &_img{
        position : relative;
        width : 35vw;
        overflow : hidden;

        img{
            width : 100%;
            height : 100%;
            object-fit: cover;
            object-position: top;
        }

        .bouton{
            position : absolute;
            right : 2vw;
            bottom : 2vw;
            background-color: $secondary;
            color : $primary; 
            border : 1px solid $primary; 
            padding : 1vh 30px;
            transition : .2s ease;

            &:hover{
                background-color: $primary; 
                color : $secondary;
            }
        }
    }

    &_info{
        display : flex;
        flex-direction: column;
        justify-content: space-between;
        gap : 5vh;
        width : 65vw;
        height : 100%;
        padding : 20vh 10vw 10vh 10vw;

        &-title{
            display : flex;
            flex-direction: column;
            gap : 2vh;

            h1{
                color : $primary;
                font-size : 1.5vw;
                font-weight : bold;
            }
        }

        &-recap{
            display : flex;
            flex-direction: column;
            height : 100%;

            h2{
                margin-bottom : 2vh;
            }

            &--container{
                display : flex;
                flex-direction: column;
                gap : 10px;
                width : 100%;
                height : 100%;

                .produit{
                    display : flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-bottom : 10px;
                    border-bottom : 1px solid $primary;

                    img{
                        width : 40px;
                        height : 40px;
                        object-fit: cover;
                    }

                    h3{
                        width : 60%;
                        text-align : left;
                        padding-left : 10px;
                    }

                    .quantite{
                        width : 20%;
                        text-align : center;
                    }

                    .prix{
                        width : 20%;
                        text-align : right;
                    }
                }
            }

            .total{
                align-self: flex-end;
                margin-top : auto;
            }
        }
    }
}