@import "../styles/globals.scss";

.form{
    display : flex;
    flex-direction: column;
    gap : 2vh;

    fieldset{
        display : flex;
        flex-direction: column;

        label{
            color : $primary;
            font-weight : bold;
        }

        input, textarea, select{
            border : 1px solid $primary;
            padding : 5px 10px;

            &[type="file"]{
                padding : 0;
                border : none;
            }

            &:focus{
                outline : 1px solid $primary;
            }
        }

        textarea{
            &.details{
                min-height : 30vh;
            }
        }
    }

    &_buttons{
        display : flex;
        gap : 2vw;

        .bouton{
            background-color: $secondary; 
            color : $primary;
            border : 1px solid $primary;
            padding : 1vh 30px;

            &:hover{
                background-color: $primary; 
            color : $secondary;
            }
        }
    }
}