.panel{
    position : relative;
    display : flex;
    justify-content: flex-end;
    width : 100%;

        &_barreLaterale{
            position : fixed;
            top : 0;
            left : 0;
            display : flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            width : 15vw;
            height : 100vh;
            padding : 2vw;
            background-color: #6B4927;
            color : #F8EDE3;
        }
    
        &_container{
            display : flex;
            flex-direction: column;
            gap : 10vh;
            width: calc(100vw - 15vw);
            height : 100%;
            margin-left : 15vw;
            padding : 10vh 2vw;
            background-color: #F8EDE3;

            h1{
                font-size : 5vw;
                line-height : .8;
                color : #6B4927;
            }
    
            &-produits{
                display : flex;
                flex-direction: column;
                gap : 1vw;
    
                .produit{
                    display : flex;
                    justify-content: space-between;
                    padding-bottom : 1vw;
                    border-bottom : 1px solid #6B4927;

                    &:last-of-type{
                        border-bottom : none;
                    }

                    &_info{
                        display : flex;
                        align-items: center;
                        gap : 2vw;
                        width : 100%;

                        &-img{
                            width : 5vw;

                            img{
                                width : 5vw;
                                height : 5vw;
                                object-fit: cover;
                            }
                        }

                        &-title{
                            width : 10%;
                        }

                        &-categorie{
                            width : 10%;
                        }

                        &-description{
                            width : 70%;
                        }

                        &-prix{
                            width : 10%;

                            p{
                                text-align : center
                            }
                        }

                        
                    }

                    &_buttons{
                        display : flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding : 0 2vw;
                    } 
                }
            }
        }
 

    
}