

.header{
    width : 100%;
    background-color: #F8EDE3;

    .nav{
        position : fixed;
        top : 0;
        left : 0;
        display : flex;
        justify-content: space-between;
        width : 100%;
        padding : 1vw 5vw;
        background-color: #6B4927;
        z-index : 10;

        &_links{
            display : flex;
            align-items: center;
            gap : 2vw;

            &-link{
                color : #FFFFFF;
            }

            &-cart{
                position : relative;
                display : flex;

                &--length{
                    position : absolute;
                    right : -17px;
                    bottom : -5px;
                    display : flex;
                    justify-content: center;
                    align-items: center;
                    width : 20px;
                    height : 20px;
                    border-radius : 100vmax;
                    background-color: #FFFFFF;

                    p{
                        color : #6B4927;
                    }
                }
            }

            &-search{
                position : relative;
                width : 20vw;
                border-radius : 100vmax;
                background-color: #FFFFFF;

                input{
                    width : 20vw;
                    height : 100%;
                    outline : none;
                    background-color: transparent;
                    padding : 5px 20px;
                }

                .search{
                    position : absolute;
                    top : 50%;
                    right : 10px;
                    transform : translateY(-50%);
                }
            }
        }
    }

    &_container{
        position : relative;
        display : flex;

        &-blocLeft{  
            display : flex;
            justify-content: center;
            align-items: center;
            width : 60vw;
            padding-top : 30vh;

            &--img{
                position : relative;

                img{
                    width : auto;
                    height : 110vh;
                    object-fit: contain;
                }
    
                p{
                    position : absolute;
                    bottom : 2vw;
                    left : 2vw;
                    color : #FFFFFF;
                    width : 55%;
                }
            }  
        }

        &-blocRight{
            width : 40vw;

            &--img{
                img{
                    width : 100%;
                    height : 100vh;
                    object-fit: cover;
                }
            }  
        } 

        &-title{
            position : absolute;
            top : 40vh;
            left : 50%;
            transform : translateX(-50%);

            h1{
                font-size : 10vw;
                line-height : .8;
                text-align: center;
                color : #F8DE88;
            }
        }
    }
}