@import "../styles/globals.scss";

.header{
    width : 100%;
    background-color: $secondary;
    padding-bottom : 20vh;

    &_container{
        position : relative;
        display : flex;

        &-blocLeft{  
            display : flex;
            width : 60vw;
            padding : 30vh 0 0 10vw;

            &--img{
                position : relative;

                img{
                    width : auto;
                    height : 110vh;
                    object-fit: contain;
                }
    
                p{
                    position : absolute;
                    bottom : 2vw;
                    left : 2vw;
                    color : #FFFFFF;
                    width : 55%;
                }
            }  
        }

        &-blocRight{
            position : relative;
            width : 40vw;

            &--img{

                img{
                    width : 100%;
                    height : 100vh;
                    object-fit: cover;

                    &.sun{
                        position : absolute;
                        top : 15vw;
                        right : 20vw;
                        width : 3vw;
                        height : 3vw;
                    }
                }
            }  
        } 

        &-title{
            position : absolute;
            top : 40vh;
            left : 50%;
            transform : translateX(-50%);

            h1{
                font-size : 10vw;
                line-height : .8;
                text-align: center;
                color : $tertiary;
            }
        }
    }
}