@import "../styles/globals.scss";

.nav{
    position : fixed;
    top : 0;
    left : 0;
    display : flex;
    justify-content: space-between;
    width : 100%;
    height : 8vh;
    padding : 0 5vw;
    background-color: $primary;
    z-index : 10;

    &_links{
        display : flex;
        align-items: center;
        gap : 2vw;

        &-link{
            color : #FFFFFF;
        }

        &-icon{
            width : 25px;
            height : 25px;
        }

        &-cart{
            position : relative;
            display : flex;

            &--length{
                position : absolute;
                right : -17px;
                bottom : -5px;
                display : flex;
                justify-content: center;
                align-items: center;
                width : 20px;
                height : 20px;
                border-radius : 100vmax;
                background-color: #FFFFFF;

                p{
                    color : $primary;
                }
            }
        }

        &-search{
            position : relative;
            width : 20vw;
            border-radius : 100vmax;
            background-color: #FFFFFF;

            input{
                width : 20vw;
                height : 100%;
                outline : none;
                background-color: transparent;
                padding : 5px 20px;
            }

            .search{
                position : absolute;
                top : 50%;
                right : 10px;
                transform : translateY(-50%);
            }
        }
    }
}