@import "../styles/globals.scss";

.panier {
    position: fixed;
    top: 0;
    right: 0;
    display : flex;
    flex-direction: column;
    width: 40vw;
    height: 100vh;
    background-color : $secondary;
    border-left : 1px solid $primary;
    transform: translateX(100%); 
    transition: transform .3s ease;
    z-index : 50;

    &.open {
        transform: translateX(0); 
    }

    &_nav{
        display : flex;
        align-items: center;
        justify-content: space-between;
        height : 8vh;
        padding : 0 2vw;
        background-color: $primary;
        border-left : 1px solid $secondary;

        h2{
            color : $secondary;
        }

        &-close{
            position : relative;
            width : 1.5vw;
            height : 1.5vw;

            &::after, &::before{
                position : absolute;
                content : "";
                width : 100%;
                height : 1px;
                background-color: $secondary;
            }

            &::after{
                top : 50%;
                left : 50%;
                transform : translateX(-50%) translateY(-50%) rotate(-45deg);
            }

            &::before{
                top : 50%;
                left : 50%;
                transform : translateX(-50%) translateY(-50%) rotate(45deg);
            }
        }
    }


    &_container{
        display : flex;
        flex-direction: column;
        justify-content: space-between;
        gap : 2vw;
        height : 92vh;
        padding : 2vw;

        ::-webkit-scrollbar {
            width: 7px;
        }
        
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px $primary;; 
            border-radius: 10px;
        }
        
        
        ::-webkit-scrollbar-thumb {
            background: $primary;; 
            border-radius: 10px;
            margin: 5px;
        }
        
        
        ::-webkit-scrollbar-thumb:hover {
            background: $primary;; 
        }

        &-produits{
            display : flex;
            flex-direction: column;
            gap : 1vw;
            overflow-y : scroll;


            .produit{
                display : flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom : 1vw;
                border-bottom : 1px solid $primary;
                margin-right : 1vw;


                &_name{
                    display : flex;
                    align-items: center;
                    gap : 2vw;
                    width : 100%;

                    img{
                        width : 5vw;
                        height : 5vw;
                        object-fit: cover;
                        border : 1px solid $primary;
                    }

                    h2{
                        color : $primary;
                    }
                }

                &_price{
                    width : 50%;

                    
                    p{
                        color : $primary;
                    }
                }

                &_quantite{
                    display : flex;
                    align-items: center;
                    gap : 2vw;
                    width : fit-content;

                    &-input{
                        width : 2vw;
                        height : 2vw;
                        background-color: transparent;
                        outline : none;
                        appearance: textfield; 
                        -moz-appearance: textfield;

                        &::-webkit-inner-spin-button,
                        &::-webkit-outer-spin-button {
                            opacity: 1; 
                            display: block; 
                            background-color: transparent;
                        }
                    }

                    &-delete{
                        width : 2vw;
                        height : 2vw;

                        .poubelle{
                            width : 20px;
                            height : 20px;
                        }
                    }
                }
            }
        } 

        &-total{
            display : flex;
            justify-content: space-between;
            
            .bouton{
                background-color: $secondary;
                color : $primary; 
                border : 1px solid $primary; 
                padding : 1vh 30px;
                transition : .2s ease;

                &:hover{
                    background-color: $primary; 
                    color : $secondary;
                }
            }

            p{
                font-weight : bold;
            }
        }
    }  
}
